<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name="MainActivity"
        android:name2="MainActivity2"
        android:name3="MainActivity3"
        android:name4="MainActivity4"
        android:name5="MainActivity5"
        android:name6="MainActivity6"
        android:name7="MainActivity7"
        android:name8="MainActivity8"
        android:name9="MainActivity9"
        android:name10="MainActivity10"
        android:name11="MainActivity11"
        android:name12="MainActivity12"
        android:name13="MainActivity13"
        android:name14="MainActivity14"
        android:name15="MainActivity15"
        android:name16="MainActivity16"
        android:name17="MainActivity17"
        android:name18="MainActivity18"
        android:name19="MainActivity19"
        android:name20="MainActivityToken"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I200547"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity18"
            android:exported="false" />
        <activity
            android:name=".MainActivity17"
            android:exported="false" />
        <activity
            android:name=".MainActivity16"
            android:exported="false" />
        <activity
            android:name=".MainActivity15"
            android:exported="false" />
        <activity
            android:name=".MainActivity14"
            android:exported="false" />
        <activity
            android:name=".MainActivity13"
            android:exported="false" />
        <activity
            android:name=".MainActivity12"
            android:exported="false" />
        <activity
            android:name=".MainActivity11"
            android:exported="false" />
        <activity
            android:name=".MainActivity10"
            android:exported="false" />
        <activity
            android:name=".MainActivity9"
            android:exported="false" />
        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".MainActivity7"
            android:exported="false" />
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.I200547" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityToken"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>